<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Example</name>

    <description>
        Phonegap testing
    </description>

    <author email="ettelenzp@gmail.com">
        Kyrylo Mytrofanov
    </author>

	<platform name="android">
	
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<meta http-equiv="Content-Security-Policy" content="default-src *; style-src *  'unsafe-inline'; script-src *  'unsafe-inline'; media-src *">
	<allow-navigation href="http://*/*" />
	<allow-intent href="https://*/*" />
	
</widget>