<!DOCTYPE html>

<html ng-app="myModule">

<head>
    <title>Testing Parts</title>
    <link href="css/topcoat-mobile-dark.css" rel="stylesheet">
    <script src="js/angular.js"></script>>
    <script src="js/angular-route.js"></script>>
    <script src="js/scripts.js"></script>>
</head>

<body>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">This is new.</h1>
        </div>
    </div>
    
    <div ng-controller="myController">
        <div class="topcoat-list">
          <h3 class="topcoat-list__header"> {{message}}</h3>
          <ul class="topcoat-list__container">
            <li class="topcoat-list__item" ng-repeat="element in elements">
              {{ element.username }} <button class="topcoat-button--cta" ng-click="deleteUser(element.userID)">X</button>
            </li>
          </ul>
        </div>
        <input type="text" class="topcoat-text-input" placeholder="User name" value="" ng-model="new_name">
        <button class="topcoat-button--cta" ng-click="addNewUser(new_name)">Add</button>
    </div>
</body>

</html>